@import "../../assets/variable.scss";

.authontication__container {
  padding-top: 10%;
  grid-column: full-start / full-end;
  background-image: url("../../assets/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}

.authontication__forms {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  width: max-content;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  backdrop-filter: brightness(30%) blur(5px);
}
