@import "../../assets/variable.scss";
.hotel__content {
  grid-column: col-start 2 / col-end 5;
  text-align: center;

  .hotel__text {
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 500;
  }

  .hotel__container {
    grid-column: full-start / full-end;

    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(25rem, 40rem));
    grid-template-columns: repeat(3, 40rem);
    grid-template-rows: 40rem 40rem;
    justify-content: center;
    align-content: center;
    column-gap: 4rem;
    row-gap: 6rem;
  }
}

.hotel__service_container {
  grid-column: full-start / full-end;
  border-top: 1px solid $color-white-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 10rem;
  margin: 10rem 0;
  text-align: center;

  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
    justify-content: center;
    gap: 3rem;
  }
}
