@import "../../assets/variable.scss";

.hotel {
  &__image {
    box-shadow: 0 0 1rem 2px $color-grey-1;
    width: 100%;
    height: 90%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  &:hover > &__image {
    transform: translateY(-1rem);
    filter: brightness(80%);
  }

  &__name {
    // color: $color-font;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 1rem;
  }
}
