$color-primary: #c5a880;
$color-grey-1: #afafaf;
$color-grey-2: #727272;
$color-grey: #222;
$color-white-1: #fff;
$color-white-2: #f8f8f8;
$color-white-3: #f0f8ff;
$color-font: #323232;
$color-font-2: #595959;
$color-font-3: #606060;
