@import "./assets//variable.scss";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  block-size: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  font-size: 1.8rem;
  line-height: 1.5;
  color: $color-font;
}

.link:link,
.link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ddd;
}

.heding__primary {
  backdrop-filter: blur(2px);
  font-size: 5.8rem;
  line-height: normal;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  cursor: context-menu;
  user-select: none;
}

.heading__secondary {
  font-size: 5.6rem;
  line-height: normal;
  margin-bottom: 2rem;
  cursor: context-menu;
  user-select: none;
}

.heading__tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  display: inline-block;
}

.invert {
  flex-direction: column-reverse !important;
}
.btn__disable:hover {
  cursor: no-drop !important;
}
