@import "./assets//variable.scss";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Tektur:wght@500&family=Philosopher:wght@700&family=Noto+Serif+Display:wght@300;400&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  block-size: inherit;
}

body {
  margin: 0;
  font-family: "Noto Serif Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  color: $color-font-3;
}

.link:link,
.link:visited,
.navigation__list_item span {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ddd;
}

.heding__primary {
  font-family: "Tektur";
  backdrop-filter: blur(2px);
  font-size: 5.8rem;
  line-height: normal;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  cursor: context-menu;
  user-select: none;
}

.heading__secondary {
  color: $color-font;
  font-family: "Satisfy";
  font-size: 5.6rem;
  line-height: normal;
  margin-bottom: 2rem;
  cursor: context-menu;
  user-select: none;

  &_colored {
    color: $color-primary;
  }
}

.heading__tertiary {
  font-family: "Philosopher";
  color: $color-font;
  user-select: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: normal;
  cursor: context-menu;
  display: inline-block;

  &_colored {
    color: $color-primary;
  }
}

.invert {
  flex-direction: column-reverse !important;
}
.btn__disable:hover {
  cursor: no-drop !important;
}

.heading__container {
  text-align: start;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.name__satrt {
  color: $color-primary;
}
